<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TECH FORUM</title>
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

{{!-- <body> --}}
  <body class="bg-dark"></body>
  <div class="wrapper container-fluid ">
    
    <header class="row bg-success">
      <h1>
        <a href="/" class="col-12">TECH FORUM</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <button><a href="/login">login</a></button>
        {{/if}}
      </nav>
    </header>



    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>