<section class="text-white">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text">Post Text</label>
      <textarea type="text" id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="btn text-white">Create</button>
  </form>
</section>

{{#if postsMap.length}}
<section class=" text-white">
  <h2>Your posts</h2>
  <ol>
    {{#each postsMap as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>