<ul class="post-list text-white">
  {{#each posts as |post|}}
    <li class="row offset-sm-1 offset-md-2 offset-lg-3">
      <div class="col-12 ">{{> post-info post }}</div>
    </li> 
  {{/each}}
</ul>