<ul class="post-list p-0 text-white d-flex flex-column align-items-center">
  {{#each posts as |post|}}
    <li class="row d-flex w-100 justify-content-center">
      <div class="
      border m-2 col-10 col-sm-10 offset-sm-1 offset-md-3 col-lg-6 offset-lg-6 col-xl-6">{{> post-info post }}</div>
    </li>
  {{/each}}
</ul>